<% provide(:title, "Log In") %>

<h1>Log In</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:session, url:login_path) do |foobar| %>


		<%= foobar.label :email %>
		<%= foobar.email_field :email, class: 'form-control' %>

		<%= foobar.label :password %>
		<%= foobar.password_field :password, class: 'form-control' %>

		<%= foobar.submit "Log me in", class:"btn btn-primary" %>
		<% end %>

		<p> New user? <%= link_to "Sign up now!", signup_path %> </p>
	</div>
</div>
