<% provide(:title, "Sign Up") %>

<h1>Sign Up</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user, url:"/signup") do |foobar| %>

		<%= render 'shared/error_messages' %>

		<%= foobar.label :name %>
		<%= foobar.text_field :name, class: 'form-control' %>

		<%= foobar.label :email %>
		<%= foobar.email_field :email, class: 'form-control' %>

		<%= foobar.label :password %>
		<%= foobar.password_field :password, class: 'form-control' %>

		<%= foobar.label :password_confirmation, "Confirmation" %>
		<%= foobar.password_field :password_confirmation, class: 'form-control' %>

		<%= foobar.submit "Create my account", class:"btn btn-primary" %>
		<% end %>
	</div>
</div>
