<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield (:title)) %> </title>
    <%= render 'layouts/default_head' %>  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <!-- <div class="alert alert-<%=message_type%>" > <%=message%> </div> -->
        <%= content_tag(:div, message, class:"alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>  
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
